.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  border-color: black;
  font-size: 17px;
  position: center;
  color: red;
}

#fcontainer {

  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-color: yellow;
}

.join-container {

  padding: 5px 15px;
  font-size: 22px;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;

}

body {
  align-items: center;
  margin: auto;
  width: 55%;
  border: 3px solid green;
  padding: 10%;

}